# 1) DATA COLLECTION

## A) Amazon.in

In [1]:
import pandas as pd

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup 
from selenium.webdriver.chrome.service import Service

In [46]:
titles_LT500=[]
prices_LT500=[]
LT500=[]

In [47]:
for i in range(1,13):
  i=str(i)
  LT500.append("https://www.amazon.in/s?k=japanese+knives&i=kitchen&rh=n%3A5925789031%2Cp_36%3A3444810031&dc&page="+i+"&rnid=3444809031&ref=sr_pg_"+i)

In [48]:
for url in LT500: 
    driver=webdriver.Chrome('C:\chromedriver.exe')
    driver.get(url)
    content=driver.page_source
    soup = BeautifulSoup(content)
    for article in soup.findAll(attrs={'class':'a-section a-spacing-small puis-padding-left-small puis-padding-right-small'}):
        title=article.find('span',attrs={'class':'a-size-base-plus a-color-base a-text-normal'})
        price=article.find('span',attrs={'class':'a-offscreen'})
        titles_LT500.append(title.text)
        prices_LT500.append(price)

In [49]:
LT500=pd.DataFrame({'Title':titles_LT500,'Price':prices_LT500})

In [50]:
import re
for i in range(47):
    LT500['Price']=LT500['Price'].apply(lambda x: re.sub('[^0-9]+', '', str(x)))

In [51]:
LT500

                                                 Title Price
0    SHIDHMI Premium Stainless Steel Santoku Knife ...   399
1    SHIDHMI Professional Santoku Stainless Steel K...   349
2    Guns Ceramic Knife (2 Pack) Santoku Blade Japa...   480
3    YELONA Japanese Santoku Chef Knife Hollow Shar...   499
4    JEROXEN Cleaver Knife High Carbon Japanese hig...   299
..                                                 ...   ...
370  Theodore Flower Design Stainless Steel Kitchen...   378
371  chefmate multi purpose kitchen instrument Fish...   450
372  THEODORE Stainless Steel Chef Knives Set/Chopp...   429
373  VATSHVI 1 PCs Crinkle Cut Knife Fork Slicing H...   299
374  Guns Ceramic Knife (2 Pack) Santoku Blade Japa...   480

[375 rows x 2 columns]

In [52]:
titles_GT500LT1000=[]
prices_GT500LT1000=[]
GT500LT1000=[]
for i in range(1,8):
  i=str(i)
  GT500LT1000.append("https://www.amazon.in/s?k=japanese+knives&i=kitchen&rh=n%3A5925789031%2Cp_36%3A3444811031&dc&page="+i+"&rnid=3444809031&ref=sr_pg_"+i)
for url in GT500LT1000: 
    driver=webdriver.Chrome('C:\chromedriver.exe')
    driver.get(url)
    content=driver.page_source
    soup = BeautifulSoup(content)
    for article in soup.findAll(attrs={'class':'a-section a-spacing-small puis-padding-left-small puis-padding-right-small'}):
        title=article.find('span',attrs={'class':'a-size-base-plus a-color-base a-text-normal'})
        price=article.find('span',attrs={'class':'a-offscreen'})
        titles_GT500LT1000.append(title.text)
        prices_GT500LT1000.append(price)

In [53]:
GT500LT1000=pd.DataFrame({'Title':titles_GT500LT1000,'Price':prices_GT500LT1000})
import re
for i in range(47):
    GT500LT1000['Price']=GT500LT1000['Price'].apply(lambda x: re.sub('[^0-9]+', '', str(x)))
GT500LT1000

                                                 Title Price
0    AGARO Royal 6 Pcs Kitchen Knife Set with Cover...   971
1    Shruthi Yingguns Ceramic Knife (2 Pack) Meat C...   647
2    SHIDHMI Santoku Knife, Kitchen Knife Ultra Sha...   549
3    Leeonz® Santoku Knife, Kitchen Knife Ultra Sha...   569
4    ap collection Cutter King 0.2 no Cleaver Knife...   699
..                                                 ...   ...
223  Grizzly 6 pcs Knife Set with Non-Slip Handle f...   599
224  Durable Spoon, 3Pcs Fork Practical Easy to Use...   544
225  S.B. ANJALI SHALU BHAI Chef's Knife, 8inch Sta...   888
226  DANSR Santoku Knife, Kitchen Knife Ultra Sharp...   699
227  DANSR Kitchen Knife Professional Chef’s Knife,...   599

[228 rows x 2 columns]

In [56]:
titles_GT1000LT2000=[]
prices_GT1000LT2000=[]
GT1000LT2000=[]
for i in range(1,5):
  i=str(i)
  GT1000LT2000.append("https://www.amazon.in/s?k=japanese+knives&i=kitchen&rh=n%3A5925789031%2Cp_36%3A3444812031&dc&page="+i+"&rnid=3444809031&ref=sr_pg_"+i)
for url in GT1000LT2000: 
    driver=webdriver.Chrome('C:\chromedriver.exe')
    driver.get(url)
    content=driver.page_source
    soup = BeautifulSoup(content)
    for article in soup.findAll(attrs={'class':'a-section a-spacing-small puis-padding-left-small puis-padding-right-small'}):
        title=article.find('span',attrs={'class':'a-size-base-plus a-color-base a-text-normal'})
        price=article.find('span',attrs={'class':'a-offscreen'})
        titles_GT1000LT2000.append(title.text)
        prices_GT1000LT2000.append(price)

In [57]:
GT1000LT2000=pd.DataFrame({'Title':titles_GT1000LT2000,'Price':prices_GT1000LT2000})
import re
for i in range(47):
    GT1000LT2000['Price']=GT1000LT2000['Price'].apply(lambda x: re.sub('[^0-9]+', '', str(x)))
GT1000LT2000

                                                 Title Price
0    Kai Japanese Stainless Steel Chinese Cleaver -...  1949
1    Yingguns Ceramic Knife (4 Pack) Meat Cleaver K...  1111
2    Kai High Carbon Stainless Steel Chef's Knife, ...  1499
3    THW Sashimi Usuba Knife Stainless Steel Cutler...  1199
4    Kai Japanese Stainless Steel Chinese Cleaver -...  1949
..                                                 ...   ...
109  Kai Japanese Stainless Steel Chinese Cleaver -...  1949
110  Kairos 5Pcs Kitchen Knife Set with Stand, High...  1284
111  SHIDHMI Professional Santoku Stainless Steel K...  1199
112  KRAFTYHOME Cake Cutter Knife and Server Set of...  1499
113  Kairos 7Pcs Kitchen Knife Set with Rotating St...  1633

[114 rows x 2 columns]

In [58]:
titles_GT2000LT3000=[]
prices_GT2000LT3000=[]
GT2000LT3000=[]
for i in range(1,5):
  i=str(i)
  GT2000LT3000.append("https://www.amazon.in/s?k=japanese+knives&i=kitchen&rh=n%3A5925789031%2Cp_36%3A3444813031&dc&page="+i+"&rnid=3444809031&ref=sr_pg_"+i)
for url in GT2000LT3000: 
    driver=webdriver.Chrome('C:\chromedriver.exe')
    driver.get(url)
    content=driver.page_source
    soup = BeautifulSoup(content)
    for article in soup.findAll(attrs={'class':'a-section a-spacing-small puis-padding-left-small puis-padding-right-small'}):
        title=article.find('span',attrs={'class':'a-size-base-plus a-color-base a-text-normal'})
        price=article.find('span',attrs={'class':'a-offscreen'})
        titles_GT2000LT3000.append(title.text)
        prices_GT2000LT3000.append(price)

In [59]:
GT2000LT3000=pd.DataFrame({'Title':titles_GT2000LT3000,'Price':prices_GT2000LT3000})
import re
for i in range(47):
    GT2000LT3000['Price']=GT2000LT3000['Price'].apply(lambda x: re.sub('[^0-9]+', '', str(x)))
GT2000LT3000

                                                 Title Price
0    Meyer Stainless Steel Sharp Japanese Santoku K...  2784
1    Meyer Stainless Steel Utility Knife | Knife fo...  2274
2    AGARO Galaxy 9 Pcs Kitchen Knife Set with Wood...  2199
3    Kai Japanese Stainless Steel Chinese Cleaver -...  1949
4    Japan Bargain Happy Sales HSSR200, Japanese Na...  2999
..                                                 ...   ...
114  BLUE SPACE 9 pcs Chef Knife Set, Stainless Ste...  2399
115  Amour 6 Piece Ceramic Knives Set, Kitchen Chef...  2498
116  NILKANTH® Chef Knife, 8 inch Kitchen Knife Pre...  2499
117  HARIVAR MART™ Stainless Steel Kitchen Knife Se...  2349
118  Homez Decor� Designer Feather Antique Design C...  2300

[119 rows x 2 columns]

In [60]:
titles_GT3000=[]
prices_GT3000=[]
GT3000=[]
for i in range(1,40):
  i=str(i)
  GT3000.append("https://www.amazon.in/s?k=japanese+knives&i=kitchen&rh=n%3A5925789031%2Cp_36%3A3444814031&dc&page="+i+"&rnid=3444809031&ref=sr_pg_2"+i)
for url in GT3000: 
    driver=webdriver.Chrome('C:\chromedriver.exe')
    driver.get(url)
    content=driver.page_source
    soup = BeautifulSoup(content)
    for article in soup.findAll(attrs={'class':'a-section a-spacing-small puis-padding-left-small puis-padding-right-small'}):
        title=article.find('span',attrs={'class':'a-size-base-plus a-color-base a-text-normal'})
        price=article.find('span',attrs={'class':'a-offscreen'})
        titles_GT3000.append(title.text)
        prices_GT3000.append(price)

In [61]:
GT3000=pd.DataFrame({'Title':titles_GT3000,'Price':prices_GT3000})
import re
for i in range(47):
    GT3000['Price']=GT3000['Price'].apply(lambda x: re.sub('[^0-9]+', '', str(x)))
GT3000

                                                  Title  Price
0            Shun TDM0707 Premier Chef's Knife, 10-Inch  17449
1              Kai Shun Premier Kitchen Knife_Pack of 2  19999
2                 Kai Shun Classic Paring Kitchen Knife   7999
3     FAMCÜTE 8 Inch Professional Japanese Chef Knif...  13598
4     WEKIT Chef Knife 8 Inch, Professional Damascus...  18778
...                                                 ...    ...
1260  Victorinox 5 Pc Knife Set - Stainless Steel Cu...   6930
1261  Shun VG-10 Stainless Steel Chef's Knife, 1 Pie...  13448
1262  Kai Benifuji Stainless Steel Chef Knife, 1-Pie...   3299
1263  Oncarnival High-Carbon Stainless Steel Chef Kn...   7699
1264  RICHARDSON SHEFFIELD Since 1839 Premium Stainl...   3654

[1265 rows x 2 columns]

In [69]:
s1=LT500.shape[0]
s2=GT500LT1000.shape[0]
s3=GT1000LT2000.shape[0]
s4=GT2000LT3000.shape[0]
s5=GT3000.shape[0]

In [75]:
amazon=pd.DataFrame([[s1,s2,s3,s4,s5]], columns=['Less than 500','Greater than 500 Less than 1000 ','Greater than 1000 Less than 2000',' Greater than 2000 Less than 3000','Greater than 3000'])

In [76]:
amazon

,Less than 500,Greater than 500 Less than 1000,Greater than 1000 Less than 2000,Greater than 2000 Less than 3000,Greater than 3000
0,375,228,114,119,1265

In [79]:
amazon.to_excel('amazon.xlsx')

## B) tradestat.commerce.gov.in

In [22]:
%load_ext autotime
import requests

time: 46 ms (started: 2023-03-30 15:17:09 +05:30)

In [44]:
country_list = {'JAPAN': '205'}
month_list={'January':1,'Feburary':2,'March':3,'April':4,'May':5,'June':6,'July':7,'August':8,'September':9,'October':10,'November':11,'December':12}
urls = {
    'export': "https://tradestat.commerce.gov.in/eidb/ecntcom.asp",
    'import': "https://tradestat.commerce.gov.in/eidb/icntcom.asp"
}

options = {
    'radioFY': 1,
    'hslevel':4,
    'sort': 0,
    'radioDAll':1,
    'radioval': 1
    
    
}
session = requests.Session()

time: 15 ms (started: 2023-03-30 15:46:31 +05:30)

In [45]:

def get_trade_data(req_type='export', year=2021,month='January', country='JAPAN'):
    url = urls[req_type]

    options['yy1'] = year
    options['Mm1'] = month_list[month]
    options['cntcode'] = country_list[country]

    sample = session.post(url, options)
    try:
        # remove extra rows from bottom
        response_df = pd.read_html(sample.content)[0].iloc[:-3, 1:6]
        # remove previous year data
        response_df = response_df.drop(
            response_df.columns[2], axis=1)
        # rename to "value"
        response_df.rename(columns={response_df.columns[2]: 'value'}, inplace=True)
        response_df.rename(columns={response_df.columns[3]: 'cagr'}, inplace=True)
        response_df['country'] = country
        response_df['year'] = year
        response_df['month'] = month
        return response_df

    except:
        print(f"Unable to extract: {country} for {year}")
        pass

time: 16 ms (started: 2023-03-30 15:46:31 +05:30)

In [46]:

def get_data(req_type='export'):
    dfs = []
    for year in range(2000, 2024):
        for month in list(month_list.keys()):
            for country in list(country_list.keys()):
                print(f"Extracting {country} - {year}")
                dfs.append(get_trade_data(req_type, year,month, country))

    return pd.concat(dfs)

time: 0 ns (started: 2023-03-30 15:46:32 +05:30)

In [47]:
import_data = get_data('import')
import_data.to_excel('./final_import_data.xlsx', index=False)

Extracting JAPAN - 2000
Extracting JAPAN - 2001
Extracting JAPAN - 2002
Extracting JAPAN - 2003
Extracting JAPAN - 2004
Extracting JAPAN - 2005
Extracting JAPAN - 2006
Extracting JAPAN - 2007
Extracting JAPAN - 2008
Extracting JAPAN - 2009
Extracting JAPAN - 2010
Extracting JAPAN - 2011
Extracting JAPAN - 2012
Extracting JAPAN - 2013
Extracting JAPAN - 2014
Extracting JAPAN - 2015
Extracting JAPAN - 2016
Extracting JAPAN - 2017
Extracting JAPAN - 2018
Extracting JAPAN - 2019
Extracting JAPAN - 2020
Extracting JAPAN - 2021
Extracting JAPAN - 2022
Extracting JAPAN - 2023
time: 56.2 s (started: 2023-03-30 15:46:32 +05:30)

In [28]:
data=pd.read_excel("import_data.xlsx")

time: 1.14 s (started: 2023-03-30 15:26:19 +05:30)